@import "tailwindcss";


.primary-btn {
    @apply font-bold bg-green-700 hover:bg-green-600 transition-colors duration-100 ease-in-out text-white p-2 rounded-xl cursor-pointer
}

.secondary-btn {
    @apply font-bold bg-green-900 hover:bg-green-800 transition-colors duration-100 ease-in-out text-white p-2 rounded-xl cursor-pointer
}

.error-btn {
    @apply font-bold bg-red-700 hover:bg-red-600 transition-colors duration-100 ease-in-out text-white p-2 rounded-xl cursor-pointer
}

.edit-btn {
    @apply font-bold bg-blue-800 hover:bg-blue-700 transition-colors duration-100 ease-in-out text-white p-2 rounded-xl cursor-pointer
}

.file-btn {
    @apply font-bold bg-orange-700 hover:bg-orange-600 transition-colors duration-100 ease-in-out text-white p-2 rounded-xl cursor-pointer
}

.nav-btn {
    @apply p-1 text-xl font-bold bg-white text-green-600 hover:text-white hover:bg-green-700 border-b-4 border-b-green-700 cursor-pointer transition-colors duration-100 ease-in-out
}

.nav-btn-active {
    @apply p-1 text-xl font-bold text-white bg-green-700 border-b-4 border-b-green-700 cursor-pointer transition-colors duration-100 ease-in-out
}

.nav-btn-disabled {
    @apply p-1 text-xl font-bold bg-gray-300 text-gray-600 border-b-4 border-b-gray-700
}

.error-box {
    @apply ml-1 text-lg text-red-800 bg-red-400 font-bold p-1 rounded-md mt-2 border-3 border-red-800
}

.tipinput-option {
    @apply p-1 cursor-pointer hover:bg-zinc-300
}